h1 {
    color: orange;
    background-color: black;
    border: 2px
}
ul {
    list-style-type: square;
}
h2 {
    font-weight: bold;
}
h3 {
    font-style: italic;
}
h2 {
    background-color: orange;
}